services:
  # ============================================================
  #  3. LETSCHAT SERVICE (Chat)
  # ============================================================
  # LetsChat: Mensajería instantánea (Ligero y funcional)
  letschat:
    image: sdelements/lets-chat:latest
    container_name: soteira_letschat
    depends_on:
      - mongo
    environment:
      LCB_DATABASE_URI: mongodb://mongo:27017/letschat
      LCB_HTTP_PORT: 5000
    ports:
      # Mapeamos el puerto 8084 externo al 5000 interno
      - "80:80"
    networks:
      - soteira_net

  # Base de datos NoSQL para el chat
  mongo:
    image: mongo:4.0
    container_name: soteira_mongo
    restart: always
    volumes:
      - ./data/letschat_mongo:/data/db
    networks:
      - soteira_net
  # ============================================================
  #  4. SUPPORT SERVICES (Gestión de Tickets)
  # ============================================================
  # Peppermint: Sistema de Tickets
  peppermint:
    image: pepperlabs/peppermint:latest
    container_name: soteira_peppermint
    ports:
      - "80:80"
    depends_on:
      - peppermint_db
    environment:
      PORT: 3000
      SECRET: ${PEPPERMINT_SECRET}
      DB_HOST: peppermint_db
      DB_USERNAME: peppermint
      DB_PASSWORD: ${PEPPERMINT_DB_PASSWORD}
    networks:
      - soteira_net

  # Base de datos PostgreSQL para Peppermint
  peppermint_db:
    image: postgres:13
    container_name: soteira_peppermint_db
    restart: always
    environment:
      POSTGRES_DB: peppermint
      POSTGRES_USER: peppermint
      POSTGRES_PASSWORD: ${PEPPERMINT_DB_PASSWORD}
    volumes:
      - ./data/peppermint_db:/var/lib/postgresql/data
    networks:
      - soteira_net

# Red interna compartida para todos los servicios
networks:
  soteira_net:
    driver: bridge