services:
  # =============================================================
  #  1. WEB SERVICES (Intranet & Extranet Corporativa) + NGINX LB
  # =============================================================

# EL PROXY (La cara pública)
  proxy:
    build: ./nginx
    restart: always
    ports:
      - "80:80"
    depends_on:
      - extranet
      - intranet
    networks:
      - soteira_net

# Base de datos compartida para los portales web
  soteira_db:
    image: mariadb:10.6
    container_name: soteira_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: soteira_db
      MYSQL_USER: soteira
      MYSQL_PASSWORD: ${DB_USER_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - soteira_net

  # Portal del empleado
  intranet:
    build: ./intranet/soteira_intranet
    container_name: soteira_intranet
    depends_on:
      - soteira_db
    networks:
      - soteira_net

  # Portal público
  extranet:
    build: ./extranet/soteira_extranet
    container_name: soteira_extranet
    depends_on:
      - soteira_db
    networks:
      - soteira_net

# Red global  
networks:
  soteira_net:
    driver: bridge

# Volumenes
volumes:
  db_data: