services:
  # ============================================================
  #  3. LETSCHAT SERVICE (Chat)
  # ============================================================
  # LetsChat: Mensajería instantánea (Ligero y funcional)
  letschat:
    image: sdelements/lets-chat:latest
    container_name: soteira_letschat
    depends_on:
      - mongo
    environment:
      LCB_DATABASE_URI: mongodb://mongo:27017/letschat
      LCB_HTTP_PORT: 5000
    ports:
      # Mapeamos el puerto 8084 externo al 5000 interno
      - "0.0.0.0:8084:5000"
    networks:
      - soteira_net

  # Base de datos NoSQL para el chat
  mongo:
    image: mongo:4.0
    container_name: soteira_mongo
    restart: always
    volumes:
      - ./colab_services/data/letschat_mongo:/data/db
    networks:
      - soteira_net