services:
  moodle_db:
    build: ./moodle_db
    image: moodle-db-custom
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: moodle
      MYSQL_USER: moodleuser
      MYSQL_PASSWORD: moodlepassword
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - moodle-net

  moodle_app:
    build: ./moodle
    image: moodle-app-custom
    restart: always
    depends_on:
      - moodle_db
    ports:
      - "80:80"
    environment:
      # Variables para que la instalación sepa dónde está la DB
      - MOODLE_DB_HOST=moodle_db
      - MOODLE_DB_NAME=moodle
      - MOODLE_DB_USER=moodleuser
      - MOODLE_DB_PASSWORD=moodlepassword
     # - MOODLE_URL=http://localhost
      - MOODLE_URL=${MOODLE_APP_URL}
    volumes:
      - moodle_data:/var/www/moodledata
    networks:
      - moodle-net

volumes:
  db_data:
  moodle_data:

networks:
  moodle-net:
